<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="build/_bower.js"></script>
    <script type="text/javascript" src="public/script.min.js"></script>
    <link rel="stylesheet" href="public/style.min.css">
    <!-- <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script> -->

    <!--JS CONTROLLERS-->
    <!-- <script src="js/controllers/app.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/homeCtrl.js"></script> -->
    <!--DIRECTIVES-->
    <!-- <script src="js/directives/header.js"></script>
    <script src="js/directives/leftpane.js"></script>
    <script src="js/directives/rightpane.js"></script> -->
    <!--SERVICES-->
    <!-- <script src="js/services/machineListService.js"></script>
    <script src="js/services/notificationDetailService.js"></script>
    <script src="js/services/metricInfoService.js"></script>
    <script src="js/services/alertDetailsService.js"></script> -->
   
</head>

<body class="container-fluid" ng-controller="mainCtrl">
    <div class="row" style="padding:5px">
    </div>
    <div header-dir></div>
    <div class="row" style="padding:5px"></div>
    <div class="col-md-12 pad-0" style="background-color:#868686;height:850px">
        <div class="col-md-2 leftPane">
            <!--  <div left-pane-dir></div> -->
            <div class="col-md-12" style="padding:7px"></div>
            <h3 class="left-pane-head">My Machines</h3>
            <div class="col-md-12" style="padding:7px"></div>
            <div class="col-md-12 pad-0">
                <div class="left-pane-menu">
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group ng-repeat=" macname in machineList" is-open="status.open">
                            <uib-accordion-heading>
                                <span ng-class="{'glyphicon glyphicon-plus-sign ':!status.open,'glyphicon glyphicon-minus-sign':status.open}">&nbsp;&nbsp;</span><span class="left-pane-heading">{{macname.machine_name}}</span>
                            </uib-accordion-heading>
                            <span ng-repeat="mac in macname.m_metric">
                        <p ><a href="#/MetricInfo" ng-click="setsendId(macname.machine_name,macname.alert_priority,mac.m_metric_name)">{{mac.m_metric_name}}</a></p>
                    </span>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-md-12 pad-0">
                <h3 class="left-pane-head">My Alerts</h3>
            </div>
            <div class="col-md-12" style="padding:7px"></div>
            <div class="col-md-12 pad-0">
                <ul>
                    <li>
                        <div class="panel panel-default mar-0">
                            <div class="panel-heading left-pane-heading"><a href="#/MyAlerts">Manage my alerts</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="panel panel-default">
                            <div class="panel-heading left-pane-heading"><a href="#/MyAlerts">View historical alerts</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 right-pane">
            <!--  <div class="col-md-12" style="padding:7px"></div> -->
            <div ng-view></div>
        </div>
    </div>
</body>

</html>
